[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==2.2.1"
numpy = "==1.26.4"
jupyter = "==1.0.0"
ipykernel = "==6.29.3"
sqlalchemy = "==2.0.37"
python-dotenv = "==1.0.1"
psycopg2-binary = "==2.9.9"
streamlit = "==1.41.1"
plotly = "==5.19.0"

[dev-packages]
black = "==24.2.0"
flake8 = "==7.0.0"
pytest = "==8.0.2"

[requires]
python_version = "3.11"